#This file is empty, but it is required for the Lambda function to run.
# It is used to specify the dependencies for the Lambda function.
# Add your dependencies here, for example:
# requests==2.25.1
# boto3==1.17.49
# You can install these dependencies using pip:
# pip install -r requirements.txt -t .txt
# Make sure to include this file in your deployment package.txt
# This file is used by AWS Lambda to install the required packages.txt
      